@charset "utf-8";
/*=============== Font Face Start ==================*/
/* @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
/* font-family: 'Lexend', sans-serif;  */
/*=============== Font Face End ==================*/

/*=============== Default CSS Start ==================*/
html {
    overflow-x: hidden; margin: 0;
    font-family: 'Lexend', sans-serif;
}
body * {
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}
ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
:focus,
:hover,
:active {
    outline: 0;
    text-decoration: none !important;
   
}
a,
a:link {
    text-decoration: none;
    outline: none;
}
p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration:none;
    transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
}
a:hover {
    text-decoration:none !important;
}
a:focus {
    outline:none;
}
:hover {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin:0;
    padding:0;
    font-weight:normal;
    text-shadow:none;
    font-family: 'Lexend', sans-serif;
}
img {
    border:0;
    max-width:100%;
    height:auto;
    width:auto;
}
:-webkit-input-placeholder {
    opacity:1;
}
:-moz-placeholder {
    opacity: 1;
}
::-moz-placeholder {
    opacity: 1;
}
:-ms-input-placeholder {
    opacity: 1;
}

/* Text Common Font, Size , Style Start */

h1{

}
h2{

}
h3{

}
h4{

}
h5{

}
h6{

}
p{

}

/* Text Common Font, Size , Style End */
/* === Common Class -- start --- */
.button_appearance_none {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
}
.input_appearance_none {
    background: none;
    border: none;
    box-shadow: none;
}
.justify_center {
    justify-content: center !important;
}
/* === Common Class -- end --- */

/* Table Responsive Start */
.table-responsive {
    display:block;
    width:100%;
    overflow-x:auto;
    overflow-y:visible;
    -webkit-overflow-scrolling:touch;
    -ms-overflow-style:-ms-autohiding-scrollbar;
}
/* Table Responsive End */

/* Clearfix Start */
.clear {
    clear: both;
    line-height: 0;
    font-size: 0;
    padding: 0;
    margin: 0;
}
.clear:before,
.clear:after {
    content: '';
    display: table;
    height: 1px;
    width: 100%;
}
.clearfix {
    max-width:100%;
    width:100%;
    margin:0 auto;
    padding:0;
    display:block;
    float:none;
    clear:both;
}
.clearfix:before,
.clearfix:after {
    content:'';
    display:table;
    width:100%;
    max-width:100%;
    height:1px;
    clear:both;
}
/* Clearfix End */

/* Container Size Start */
body .container-fluid, .container-fluid{
    width:100%;
    max-width:100%;
    display:block;
    margin:0 auto;
    background-color:transparent;
    background-image:none;
    border:none;
    outline:none;
}
body .container, .container {
    width:100%;
    max-width:1180px;
    display:block;
    margin:0 auto;
    background-color:transparent;
    background-image:none;
    border:none;
    outline:none;
}
/* Container Size End */



/* === Footer -- section -- Start -- */

footer {
    background-color: #192E4C;
    background-image: url(../images/footer-bg-dot-png.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 15px 0 15px;
}
.footer_top_sec {
    padding: 15px 0 20px;
}
.footer_logo_block a {
    display: inline-block;
}
.footer_copyright_sec {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 20px 0;
    margin: 35px 0 0 0;
}
.footer_copy_left {
    padding: 15px 0 15px;
}
.footer_copy_right {
    padding: 15px 0 15px;
}

.footer_copy_left p,
.footer_copy_left p a {
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
}
.footer_copy_left p a:hover {
    color: #E94E35;
}
.footer_copy_right ul {
    margin: 0 0;
    padding: 0 0;
}
.footer_copy_right ul li {
    display: inline-block;
    border-right: 1px solid #fff;
    padding: 0px 5px;
}
.footer_copy_right ul li:last-child {
    border-right: 0px none;
}
.footer_copy_right ul li a {
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
}
.footer_copy_right ul li a:hover {
    color: #E94E35;
}

.footer_mid_sec {
    display: flex;
    justify-content: space-between;
}
.footer_mid_left {
    width: 30%;
    max-width: 220px;
    margin: 0 20px 0 0;
}
.footer_mid_left h5 {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    margin: 0 0 20px;
}
.footer_mid_left p {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    margin: 10px 0 20px
}
.footer_big_icon_block {
    display: flex;
    justify-content: flex-end;
}
.footer_social_icon_block {
    padding: 10px 0 10px 0;
    margin: 20px 0 0 0;
}
.footer_social_icon_block ul {
    display: flex;
    justify-content: flex-start; 
}
.footer_social_icon_block ul li {
    margin: 0 10px 0 0;
}
.footer_social_icon_block ul li:last-child {
    margin: 0 0 0 0;
}
.footer_social_icon_block ul li a {
    height: 34px;
    width: 34px;
    border-radius: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.footer_social_icon_block ul li a i {
    color: #E94E35;
}
.footer_social_icon_block ul li a:hover {
    background-color: #E94E35;
}
.footer_social_icon_block ul li a:hover i {
    color: #fff;
}

/* footer mid section - start */
.footer_mid_right {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.footer_list_block_bg {
    width: 100%;
    display: flex;
}
.footer_list_block {
    width: 20%;
    margin: 0 0 10px 10px;
}
.footer_list_block_title_sec {
    min-height: 60px;
}
h3.footer_list_block_title {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.footer_list_block_cont {
    min-height: 20px;
    margin: 0 0 20px;
}
.footer_list_block_cont h5 {
    color: #E94E35;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
.footer_list_block_cont p {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
}
.footer_list_block_nav {
    margin: 0 0 20px;
}
.footer_list_block_nav ul li {
    width: 100%;
    margin: 0 0 5px 0;
}
.footer_list_block_nav ul li a {
    color: #fff;
    font-size: 12px;
    display: inline-block;
    line-height: 1.2;
    font-style: normal;
    font-weight: 300;
}
.footer_list_block_nav ul li a:hover {
    color: #E94E35;
}

/* -- Mobile footer menu -- start  -- */
.footer_list_block_bg .accordion {
    width: 100%;
}
.footer_list_block_bg .accordion-item {
    border: 0px none;
    border-radius: 0px !important;
    border-bottom: 1px solid #B8B8B8;
}
.footer_list_block_bg .accordion-button {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.footer_list_block_bg .accordion-button:focus {
    border: 0px none;
    box-shadow: none !important;
}
.footer_list_block_bg .accordion-button::after {
    background-image: url(../images/footer_accordian_arrow.png);
    background-size: auto;
    background-position: right center;

    height: 10px;
    width: 10px;
}
.footer_list_block_bg .accordion-button:not(.collapsed)::after {
    background-image: url(../images/footer_accordian_arrow.png);
    background-position: right center;

    height: 10px;
    width: 10px;
}
.footer_list_block_bg .accordion-body {
    background-color: transparent;
}
.footer_list_block_bg .accordion-item {
    background: none;
}
.footer_list_block_bg .accordion-button, 
.footer_list_block_bg .accordion-button:not(.collapsed) {
    background-color: transparent;
    color: #FFF;
    border-radius: 0px;
    
}

.accordion-collapse.collapse {
    border-top: 0.5px solid #B8B8B8;
}
/* -- Mobile footer menu -- end  -- */
/* footer mid section - end */


/* === Footer -- section -- End -- */

/* -- Home Awards & Accreditations -- section start -- */

.sec_title_block {
    text-align: center;
}
h5.sec_title_red {
    color: #E94E35;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0 auto 15px;
}
h2.sec_title_blue {
    color: #192E4C;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
    text-transform: capitalize;
}
h2.sec_title_blue span.font_weight_light {
    font-weight: 400;
}

.tab_logo_sec {
    padding: 40px 0 40px;
}
.logo_tab_sec {
    padding: 30px 0 40px;
}
.logo_tab_sec .tab-pane {
    padding: 40px 0 10px;
}


.logo_tab_sec {
    text-align: center;
}
.logo_tab_sec .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px none;
}
.logo_tab_sec ul.nav-tabs li {
    border-right: 1px solid #000;
}
.logo_tab_sec ul.nav-tabs li:last-child {
    border-right: 0px none;
}

.logo_tab_sec .nav-tabs .nav-link {
    color: #192E4C;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
    text-transform: capitalize;
    border: 0px none !important;
    border-radius: 0px !important;
}
.logo_tab_sec .nav-tabs .nav-link.active {
    border: 0px none;
    border-radius: 0px;
    font-weight: 700;
    border: 0px none !important;
}
.logo_tab_sec .nav-tabs .nav-link:hover {
    border: 0px none;
    background-color: #ececec;
    border-radius: 0px !important;
}

.award_logo_tab_panel {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.award_logo_block {
    max-width: 200px;
}
.award_logo_block a img {
    filter: grayscale(100%);

    -webkit-transition: all .3s ease .15s;
    -moz-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    -ms-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
}
.award_logo_block a:hover img {
    filter: grayscale(0%);

    -webkit-transition: all .3s ease .15s;
    -moz-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    -ms-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
}

/* -- Home Awards & Accreditations -- section end -- */

/* Client Success Stories  section -- start   */

.success_story_carousel_bg {
    width: 80%;
    margin: 40px auto 40px;
}
.success_story_block {
    border: 1px solid #000;
    background-color: antiquewhite;
    padding: 30px 0 0 0;
    display: flex;
    min-height: 330px;
    position: relative;
}
.success_story_block::before {
    position: absolute;
    content: '';
    height: 4px;
    width: 50%;
    left: 10px;
    top: 0;
    background-color: #192E4C;;
}
.success_story_block_left {
    width: 65%;
    /* margin: 0 20px 0 0; */
    padding: 20px 20px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.success_story_block_right {
    width: 35%;
    display: flex;
    align-items: end;
    position: relative;
}

.success_story_block_left h4 {
    color: #192E4C;
    font-family: Lexend;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.success_story_btn a {
    background-color: #FFF;
    color: #192E4C;
    font-family: Lexend;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    text-transform: capitalize;

    padding: 5px 5px 5px 15px;
    border-radius: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    -webkit-transition: all .3s ease .15s;
    -moz-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    -ms-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
}
.success_story_btn a:hover {
    background-color: #192E4C;
    color: #fff;

    -webkit-transition: all .3s ease .15s;
    -moz-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    -ms-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
}
.success_story_btn_img img {
    height: auto;
    width: 30px;
}
.success_story_block_right img {
    width: 100%;
    height: 100%;
    max-height: 270px;
    object-fit: cover;
    object-position: center;
}
.triangle_clip {
    position: absolute;
    left: 0;
    top: 28px;
    /* transform: translate(-50%, -50%); */
    width: 65px;
    height: 40px;
    background-color: green;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}
/* Client Success Stories  section -- end   */